@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./reset.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 22, 23, 27;
  }
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  background-image: url('../../public/images/noise.png');
  background-size: 200px 200px;
}

.custom-noise {
  background-image: url('../../public/images/noise.png');
  background-size: 200px 200px;
}
